/* generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.row1{
    width: 65%;
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
}

.row2{
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
    line-height: 80px;
    position: relative;
}

.row1::after, .row2::after, .menù::after, .after::after, .boxvh::after, .faqline::after, .double::after{
    content: "";
    display: table;
    clear: both;
}

.bluebox{
    padding: 7px 17px;
    background-color: #0061ff;
    color: white;
}

.whitebox{
    padding: 7px 17px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.box50{
    width: 50%;
    line-height: 20px;
}

.box30L{
    width: 30%;
    float: left;
    line-height: 20px;
}

.box65R{
    width: 65%;
    float: right;
    text-align: right;
}

.box60{
    width: 60%;
    float: left;
}

.box30{
    width: 30%;
    float: right;
}

.box55{
    width: 55%;
    float: left;
}

.box45{
    width: 45%;
    float: right;
}

.box20{
    width: 20%;
    float: left; 
}


/* inizi menù */

.left{
    float: left;
}
.right{
    float: right;
    text-align: right;
}

.menù nav ul li{
    display: inline-block;
    margin: 0 20px;
    line-height: 20px;
    vertical-align: middle;
}

.menù{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 15px 0;
    z-index: 1;
}

#absolut{
    display: relative;
    height: 20px;
}
/* fine menù */



/* inizio jumbotron */
.jumbotron{
    background-color: #b4d0e7;
    padding-bottom: 50px;
}

.jumbotron .row2 h1{
    font-size: 75px;
    padding-top: 100px;
    padding-bottom: 50px;
    line-height: 80px;
}

.jumbotron .box30L h2{
    object-fit: cover;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
}

#margin{
    margin-bottom: 40px;
}

.box65R{
    position: absolute;
    right: 0;
}

.tasto{
    display: inline;
    margin-top: 40px;
    margin-bottom: 10px;
}

.fas{
    font-size: 40px;
}

.box65R{
    background-image: url('img/jumbo.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 660px;
    padding: 30px;
}
/* fine jumbotron */



/* inizio main */
main{
    padding-top: 200px;
}

main .row1 h1{
    font-size: 40px;
}

main .row1 h5{
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
}

#bottoni{    
    line-height: 20px;
    margin-top: 60px;
    margin-bottom: 40px;
}

#circle1{
    width: 17px;
    height: 17px;
    border: 5px solid #0061ff;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
}

#circle2{
    width: 17px;
    height: 17px;
    border: 1px solid #b8b8b8;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
}



/* inizio colonne */
.after{
    width: 100%;
}

.box33{
    width: 30%;
    float: left;
}

.m5{
    margin: 0% 5%;
}

.bottom{
    border: 2px solid #b8b8b8;
    width: 100%;
}

.space{
    padding: 30px 15px 0px 15px;
    height: 900px;
}

.bottom h6, .bottom li{
    font-size: 15px;
    font-weight: 400;
    vertical-align: middle;
}

.simbolo{
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #b8b8b8;
    font-weight: 400;
    font-size: 15px;
}

.box33 .bottom h2, .box100 .box60 h2, .after .box45 h2, .after .box33 h2{
    font-size: 25px;
    margin-bottom: 8px;
}

.box33 .bottom h3, .box100 .box60 h3{
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 900;
}

.box33 .bottom h5{
    font-size: 13px;
    color: rgb(134, 134, 134);
    font-weight: 600;
    margin-bottom: 40px;
}

.bottom h4{
    font-size: 15px;
    font-weight: 700;
}

.box33 .bottom h6, .box100 .box60 h6, .after .box45 h6, .after .box33 h6, .boxvh .box40 h6, .brandbox a{
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}

#tastobox{
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 40px 0px;
    padding: 8px 0;
}

a{
    text-decoration: underline;
}

.box33 .bottom nav{
    margin-top: 20px;
}

.box33 .bottom nav ul li{
    list-style: none;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 500;
}

.fa-check{
    font-size: 13px;
    font-weight: 500;
    color: #0061ff;
    top: 0;
}

.fa-pencil-alt{
    font-size: 14px;
    display: inline;
}

.fa-user-plus, .fa-user{
    font-size: 13px;
    font-weight: 500;
}

.air{
    display: inline;
}

.line{
    width: 40px;
    border-bottom: 2px solid #b8b8b8;
    margin: 30px 0;
}

.bluea{
    color: #0061ff;
}

.fa-folder, .fa-pencil-alt, .fa-user-plusl, .fa-check{
    float: left;
    width: 5%;
    display: inline-block;
}

.space h6{
    float: right;
    width: 90%;
    display: inline-block;
}

.two{
    padding: 0;
}

.double{
    margin-bottom: 20px;
}
/* fine colonne */



/* inizio box100 */
.box100{
    margin-top: 70px;
    margin-bottom: 70px;
}

.box100 .box60{
    padding-left: 5%;
}

.box100 .box60 h3{
    margin: 20px 0 30px 0;
}

.box100 .box30{
    text-align: center;
}

.structure{
    padding: 20px 0;
}
/* fine box100 */



/* inizio middlebox */
.after .box55 img{
    object-fit: cover;
    width: 100%;
} 

.box55{
    padding-right: 50px;
}

.box45 h6{
    line-height: 25px;
    margin: 25px 0;
}

.borderbotton{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    margin-top: 10px;
}
/* fine middlebox */



/* inizio sixbox */
.size{
    margin-top: 100px;
    font-weight: 700;
}

.after .box33 img{
    object-fit: cover;
    width: 100%;
}

.businessline .after{
    margin-top: 60px;
}
/* fine sixbox */



/* inizio brandbox */
.brandbox{
    margin-top: 150px;
}

.brandbox a{
    display: inline-block;
    margin: 30px 0;
}

.boxvh{
    width: 100%;
}

.boxvh .item{
    float: left;
    height: 15vw;
    width: 50%;
    text-align: center;
    background-color: cadetblue;
    border: 5px solid transparent;
    box-sizing: border-box;
    padding: 0px 40px;
    line-height: 15vw;
    vertical-align: middle;
}

.boxvh .item img{
    object-fit: cover;
    width: 100%;
    vertical-align: middle;
    fill: white;
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(0) brightness(100%) contrast(100%);
    
}

.boxvh .box30L{
    float: left;
    height: 30vw;
    width: 30%;
}

.boxvh .box30{
    float: left;
    height: 30vw;
    width: 30%;
}

.boxvh .box40{
    float: left;
    height: 30vw;
    width: 40%;
    overflow-y: auto;
    background-color: #f5f5f5;
    padding: 50px;
}

.boxvh .box30L .item:nth-child(1){
    background-color: #a2d39b;
    border: 10px solid #d0eacd;
}

.boxvh .box30L .item:nth-child(2){
    background-color: #61082b;
}

.boxvh .box30L .item:nth-child(3){
    background-color: #0093ce;  
}

.boxvh .box30L .item:nth-child(4){
    background-color: #ff1c1c;
}

.boxvh .box30 .item:nth-child(1){
    background-color: #d5001f;
}

.boxvh .box30 .item:nth-child(2){
    background-color: #b4d0e7;
}

.boxvh .box30 .item:nth-child(3){
    background-color: #0d2481;
}

.boxvh .box30 .item:nth-child(4){
    background-color: #ffd830;
}

.item{
    fill: rgb(187, 35, 35);
}

#logo{
    width: 30%;
}
/* fine brandbox */



/* inizio box100-2 */
.lightblue{
    background-color: #b4d0e7;
    padding: 110px 0;
}

.lightblue .box60 h2{
    font-size: 35px;
}

.structure2 .box60{
    padding-right: 100px;
    color: #600629;
}

.nomargin{
    margin: 0;
}
/* fine box100-2 */



/* inizio faq */
.faq{
    padding: 100px 0;
}

.faq h1{
    margin-bottom: 40px;
}


.faqline{
    width: 100%;
    border-top: 2px solid #e6e6e6;
    line-height: 20px;
}

.row1 .faqline:last-child{
    border-bottom: 2px solid #e6e6e6;
}

.top{
    font-weight: 700;
    padding: 30px 0;
    display: inline-block;
    float: left;
    width: 97%;
}

.fa-chevron-down{
    text-align: right;
    font-size: 20px;
    float: right;
    width: 3%;
}

.texthover {
    padding: 30px;
    display: none;
    font-size: 15px;
    font-weight: 400;
}

.top:hover + .texthover{
    display: block;
}

.fa-chevron-down{
    padding: 30px 0;
}
/* fine faq */
/* fine main */



/* inizio footer */
footer{
    padding: 50px 0;
    background-color: black;
    color: white;
}

footer h5{
    font-size: 20px;
    font-weight: 600;
}

footer ul li{
    line-height: 25px;
    font-size: 12px;
    list-style: none;
}

footer .row2 .line{
    width: 100px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.last{
    color: rgb(129, 129, 129);
    line-height: 20px;
}

.fa-globe-europe{
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
}

.fa-chevron-up{
    font-size: 7px;
    display: inline-block;
    vertical-align: middle;
}

.last span{
    font-size: 12px;
    font-weight: 400;
    vertical-align: middle;
    margin: 0 3px;
}

